<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventario</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="module" src="./js/main.js" defer></script>
</head>
<body>
    <header>
        <h1>Gestión de Inventario</h1>
        <nav>
            <ul>
                <li><a href="clothing.html">Ropa</a></li>
                <li><a href="accessories.html">Accesorios</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bienvenido a la Gestión de Inventario</h2>
        <p>Utiliza el menú en la parte superior para gestionar tu inventario de ropa y accesorios.</p>
    </main>

    <footer>
        <p>© 2024 Kevon. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
